@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('/fonts/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 { font-family: 'MaruBuri-Regular', Arial, sans-serif; }
p, ul li, div, span, i, figcaption {  
  font-family: 'MaruBuri-Regular', Arial, sans;  
}
