@charset "UTF-8";

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('/fonts/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 { font-family: 'MaruBuri-Regular', Arial, sans; }
p, ul li, div, span, i, figcaption {
  font-family: 'MaruBuri-Regular', Arial, sans;
  line-height: 1.75;
}

code {
    font-family: 'D2Coding', monospace;
    span { font-family: 'D2Coding', monospace; }
}
