@charset "UTF-8";

@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('/fonts/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D2Coding';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 { font-family: 'MaruBuri-Regular', Arial, sans; }
p, ul li, div, span, i, figcaption {
  font-family: 'MaruBuri-Regular', Arial, sans;
}

code {
    font-family: 'D2Coding', monospace;
    span { font-family: 'D2Coding', monospace; }
}


/* HTML 본문 폰트사이즈가 16인 경우 1/16의 비율(-0.062em)로서 본문 -1px의 자간 간격을 모든 개체에 동일한 비율로 적용할 수 있다 */
/* % 비율로 설정을 원하는 경우 수치를 그대로 em으로 입력해 주면 됩니다. */
* {
	letter-spacing: -0.0375em;
    /* -3.75%만큼 모든 자간이 줄어듭니다 */
}

/* 모든 개체 선택이 리소스에 부담을 준다면 주요 텍스트 포함 개체만 선택 */
/* Basic HTML */
h1, h2, h3, h4, h5, h6, p,

/* Formating */
abbr, address, b, bdi, bdo, blockquote, cite, code, del, dfn, em, i, ins,
kbd, mark, meter, pre, progress, q, rp, rt, ruby, s, samp, small, strong,
sub, sup, template, time, u, var, wbr,

/* Forms and Input */
form, input, textarea, button, select, optgroup, option, label
fieldset, legend, datalist, output,

/* Images */
img, map, area, canvas, figcaption, figure, picture, svg,

/* Links */
a, link, nav,

/* Lists */
ul, ol, li, dl, dt, dd,

/* Tables */
table, caption, th, tr, td, thead, tbody, tfoot, col, colgroup,

/* Styles and Semantics */
div, span, header, footer, main, section, article, aside, details,
dialog, summary, data {
	letter-spacing: -0.0375em;
}
